/* Rostex Regular */
@font-face {
  font-family: 'Rostex';
  src: url('/fonts/Rostex-Regular.ttf') format('truetype'),
       url('/fonts/Rostex-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Rostex Oblique */
@font-face {
  font-family: 'Rostex';
  src: url('/public/fonts/Rostex-Oblique.ttf') format('truetype'),
       url('/public/fonts/Rostex-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Rostex Outline */
@font-face {
  font-family: 'RostexOutline';
  src: url('/public/fonts/Rostex-Outline.ttf') format('truetype'),
       url('/public/fonts/Rostex-Outline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Rostex Oblique Outline */
@font-face {
  font-family: 'RostexOutline';
  src: url('/public/fonts/Rostex-ObliqueOutline.ttf') format('truetype'),
       url('/public/fonts/Rostex-ObliqueOutline.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

